<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Web Audio">
    <meta name="author" content="Banda Aberta">

    <title>Banda Aberta</title>
    <link href="assets/css/application.css" rel="stylesheet" media="screen">
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="main">
      <input type=text id=chat placeholder='Clique, escreva, envie' onkeypress='chat(event)'>
      <div id="messages" ></div>
      <div id="loading"><i class='fa fa-circle-o-notch fa-spin '></i> Carregando... <span id="percent"></span></div>
    </div>

    <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/application.js"></script>
  </body>
</html>
