p {
  margin: 0;
  width: 100%; 
  font-family: arial; 
  font-size: 60px;
}

.on.color0{
  background-color: red;
  color: #fff;
}

.on.color1{
  background-color: orangered;
  color: #fff;
}

.on.color2{
  background-color: red;
  color: #fff;
}

.on.color3{
  background-color: orangered;
  color: #fff;
}

#chat {
  width: 100%; 
  border: 2px solid #000; 
  font-family: arial; 
  font-size: 40px;
}

@media (min-width: 700px) { 
  #chat {
    font-size: 60px;
  }
}

#main {
  display: none;
}

.visualizer {
  width: 100%;
  height: 200px;
}

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
